<!DOCTYPE html>
<html lang="en" ng-app="minmax">
<head>
    <meta charset="UTF-8">
    <title>Walidacja formularza</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="css/style.css">
   
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     
     <link rel="stylesheet" href="css/responsive.css">
     
    <link rel="stylesheet" href="pickadate/lib/themes/default.css" id="theme_base">
    <link rel="stylesheet" href="pickadate/lib/themes/default.date.css" id="theme_date">
    <link rel="stylesheet" href="pickadate/lib/themes/default.time.css" id="theme_time">
     
</head>
<body>
    
    <div class="container" ng-controller="MinMaxCtrl">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12 ">
                <form ng-submit="onSubmit()" name="theForm" novalidate="novalidate">

                    <div class="form-group">
                        <label for="name" class="control-label">Nazwa odbiorcy</label>
                        <input type="text" 
                        name="name"
                        class="form-control" 
                        ng-model="formModel.name" required="required" 
                        id="name" 
                        maxlength="200" 
                        required-err-type="required"
                        >
                    </div>

                    <div class="form-group">
                        <label for="email" class="control-label">Adres e-mail</label>
                        <input type="email" 
                        name="_replyto"
                        class="form-control"
                         ng-model="formModel.email" id="email" 
                         required="required" 
                         name="email"
                         required-err-type="required"
                         >
                    </div>

                    <div class="form-group">
                        <label for="title" class="control-label">Tytuł wiadomości</label>
                        <input type="text"
                        name="title"
                         class="form-control" 
                         ng-model="formModel.username" required="required" 
                         id="title"
                         maxlength="200" 
                         required-err-type="required"
                         >
                    </div>

                    <div class="form-group">
                        <label for="message" class="control-label">Treść wiadomości</label>
                        <textarea 
                        name="message"
                        class="form-control" 
                        ng-model="formModel.message" 
                        required="required" 
                        required-err-type="required"
                        id="message"></textarea>
                    </div>

                    <div id="datepicker-laptop"class="form-group">
                        <label for="date" class="control-label">Data</label>
                        <input type="date" 
                        class="form-control" 
                        name="message"
                        ng-model="formModel.date" required="required" 
                        id="date" 
                        min='2000-01-01'
                        ng-min-err-type="date"
                        >
                    </div>
                    
                    <div id="datepicker-mobile" class="form-group">
                        <label for="date2" class="control-label">Data</label>
                        <input 
                        class="form-control datepicker"
                        ng-model="formModel.date2"  
                        type="date" 
                        id="date2"
                        required="required"
                        min='2000-01-01'
                        
                        >
                    </div>
                    
                    <div id="timepicker-laptop" class="form-group">
                        <label for="time" class="control-label">Godzina</label>
                        <input type="time" class="form-control" ng-model="formModel.time" required="required" id="time">
                    </div>   
                    
                    <div id="timepicker-mobile" class="form-group">
                        <label for="time2" class="control-label">Godzina</label>
                        <input type="time" class="form-control timepicker" ng-model="formModel.time2" required="required" id="time2">
                    </div>                    
                                     
                    <div class="form-group">
                    <button id="button" class="btn btn-primary" ng-click="onSubmit()">Wyślij</button>
                    </div>
                
                </form>
            </div>
        </div>
    </div>
      
     
       
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js"></script>
    
    <script src="angular-auto-validate-master/dist/jcs-auto-validate.min.js"></script>
    
    <script src="pickadate/lib/picker.js"></script>
    <script src="pickadate/lib/picker.date.js"></script>
    <script src="pickadate/lib/picker.time.js"></script>
    
    <script src="js/index.js"></script>
    
    <script type="text/javascript">
        $('.datepicker').pickadate();
    </script>
 
    <script type="text/javascript">
        $('.timepicker').pickatime()
    </script>
</body>
</html>